.Form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 2px solid lightgreen;
    padding: 20px;
}
.Input {
    margin: 10px 0;
    border: 2px solid transparent;
    border-radius: 5px;
    background: lightblue;
    padding: 5px;
    color: grey;
}

.btn {
    border: 2px solid lightgreen;
    border-radius: 5px;
    width: 100px;
}